blockquote, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft YaHei", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    background-color: #fff;
    margin: 10px 13px 10px 13px
}